header{
    width: 100%;
    /* height: 50px; */
    background: white;
    padding: 5px 15px;
    z-index: 1;
    margin: 0 !important;
    box-sizing: border-box;
}

.header{
    display: flex;
    flex-direction: row;
    padding-left: 80px;
}

header h2{
    color: #ff8000;
    display: inline;
}

.animehub{
    position: absolute;
    right: 20px;
    width: 150px;
    height: 150px;
    top: -30px;
}


header ul{
    margin-bottom: 10px;
}

header ul,header li{
    display: inline-block;
    box-sizing: border-box;
    /* color: black; */
    font-weight: bold;
}

header h2{
    margin-right: 2%;
}

ul,li{
    /* display: inline; */
    list-style: none;
}

header .search{
    display: flex;
    /* float: right; */
    flex-direction: row;
    width: 50%;
    margin: 0 5%;
}

header .range input{
    /* display: inline; */
    /* width: 150px; */
}

header *{
    height: 100%;
}

p.text-center{
    margin: 0;
}

header .custom-file{
    /* display: inline; */
    width: 250px;
    display:flex;
    flex-direction: row;
    margin-left:auto;
    margin-top: 3px;  
}

@media screen and (max-width: 768px) {
    header .range{
        width: 100%;
    }
    header .range input{
        width: 100%;
    }

    header .custom-file{
        display: none;
    }
    header h2{
        color: #ff8000;
        display: inline;
        font-size:12px;
    }
}

.modals{
   
}

.ReactModal__Overlay--after-open{
    z-index: 2000;
}